@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
body{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.spacer{
    height: 100vh;
}

.animated-element{
    width: 300px;
    height: 304px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    left: -500px;
}

.animated-element-second{
    width: 300px;
    height: 304px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    right: 300px;
}

.animated-element-third{
    width: 300px;
    height: 304px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: maroon;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    right: 300px;
}

.one h2{
    margin: 0;
    padding: 0;
}

.one p{
    font-size: .85em;
    line-height: 1.4em;
    margin-bottom:0;
}